{
  "processors": [],
  "extends": [
    "stylelint-config-recommended"
  ],
  "rules": {
    # Bug exists in ts where it matches across different styled css rules
    "no-descending-specificity": null,
  }
}